{% render 'partials/head.liquid' %}

<article>

  <section class="voor-hover">
    <section class="kaart">
      <section class="kaart-voorkant"></section>
      <section class="kaart-achterkant">
        <h2 class="over-mij">Over mij</h2>
        <p class="bio">{{ person.bio }}</p>
      </section>
    </section>
  </section>


  <h1>Anouar Aït Brahim</h1>
  <p class="mijn-info">Student Frontend Design & Development</p>

  <section class="links">
    <a href="https://github.com/Anouarab2"><img src="assets/logo.webp" alt="">Github</a>
    <a href="https://anouarab2.github.io/i-love-web/"><img src="assets/web.png" alt="">I Love Web</a>
  </section>

  <h2>Talen</h2>
  <ul>
    <li>{{ person.custom.taal1 }}</li>
    <li>{{ person.custom.taal2 }}</li>
    <li>{{ person.custom.taal3 }}</li>
  </ul>

</article>

{% render 'partials/foot.liquid' %}
