body{
  background-color: palevioletred;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

article{
  background-color: black;
  color: white;
  aspect-ratio: 3/5;
  border-radius: 2em;
}

.voor-hover{
  width: 100%;
  height: 50%;
}

.voor-hover:hover > .kaart{
  cursor: pointer;
  transform: rotateY(180deg);
}

.kaart{
  transition: transform .5s;
  width: 100%;
  height: 100%;
  /* position: relative; */
  transform-style: preserve-3d;
}

.kaart-voorkant, .kaart-achterkant{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 2em 2em 0 0 ;
}

.kaart-voorkant{
  background-image: url(assets/IMG_9078.JPG);
  background-size: 100%;
}

.kaart-achterkant{
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.links{
  display: flex;
  gap: .5em;
  margin-left: .5em;
  margin-bottom: 2em;
}

a{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  width: 6em;
  font-size: .8em;
  gap: .5em;
  align-items: center;
}

img{
  width: 2em;
  height: 2em;
}

h1{
  justify-self: center;
  font-size: 1.7em;
  padding-inline: 1.5em;
}

h2{
  margin-left: 1rem;
  font-size: 1.2em;
}

.over-mij{
  margin-left: 3rem;
  margin-top: 3rem;
}

.bio{
  margin-left: 3rem;
  max-width: 14.3em;
}

.mijn-info{
  margin-top: -1em;
  padding-inline: 1.5em;
  margin-bottom: 2em;
}

ul{
  margin-bottom: 3em;
}
